<div class="copy">
    {{copy}}
</div>

<div class="options clearfix">
    {{#each options}}
        <div class="option">
            <div class="full-relative">
                <input type="radio" name="{{../name}}" value="{{value}}" id="{{value}}" />
                <label for="{{value}}" class="full-relative"></label>
                <div class="background"></div>
                <div class="text">{{text}}</div>
                <div class="box-shadow"></div>
            </div>


        </div>
    {{/each}}
</div>